<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSHandlerRank</key>
            <string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>unicourse</string>
        </array>
    </dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unicourse</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.571256265329-5326cvdkkgjedhcp7jo3rjspo0jamm0s</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-571256265329-ios-7d693df7d97a93547819d0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>571256265329-5326cvdkkgjedhcp7jo3rjspo0jamm0s.apps.googleusercontent.com</string>
	<key>GITHUB_CLIENT_ID</key>
	<string>114e1315349d8e1c5ea1</string>
	<key>GITHUB_CLIENT_SECRET</key>
	<string>01c73ab20a77248a2acaeab1b58115487eae81e7</string>
	<key>GITHUB_REDIRECT_URI</key>
	<string>https://unicourse-f4020.firebaseapp.com/__/auth/handler</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	
</dict>
</plist>
